.mainbody div {
    padding: 2rem;
}

.mainbody div~div {
    margin-top: 5%;
}

.intro {
    text-align: center;
    background-color: rgba(108, 117, 125, 0.5);
    box-shadow: 4px 10px 5px 1px rgba(0, 0, 0, 0.5);
    border: solid 2px black;
    width: 45%;
    margin: 15% auto 20% auto;
    color: black;
    border-radius: 1em;
    animation: bounceIn 1.5s;
}

.intro p {
    font-weight: bold;
    margin: 0;
    animation: fadeIn;
    animation-duration: 5s;
    font-size: 40px;
}

.intro small {
    font-family: monospace;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: .1em;
    border-right: solid 2px white;
    overflow: hidden;
    margin: 0 auto;
    animation: animated-text 4s steps(29, end) 1s 1 normal both,
        animated-cursor 600ms steps(29, end) infinite;
    display: flex;
    flex-direction: row;
}

.intro hr {
    border-width: 2px;
    margin-top: 0;
    animation: zoomIn;
    animation-duration: 3s;
    border-color: black;
    width: inherit;
}

.inspire {
    float: left;
    width: 90%;
    background-color: rgba(2, 195, 154, 1);
    color: black;
    animation: slideInLeft;
    animation-duration: 1.5s;
}

.inspire p {
    animation: fadeInUp;
    animation-duration: 3s;
    float: right;
    margin: auto;
    font-size: 32px;
}

.impress {
    float: right;
    width: 70%;
    background-color: rgba(5, 102, 141, 1);
    color: white;
    animation: slideInRight;
    animation-duration: 1.5s;
}

.impress p {
    animation: fadeInUp;
    animation-duration: 3s;
    font-size: 24px;
    float: left;
    margin: auto;
}

@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 260px;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: white;
    }

    to {
        border-right-color: transparent;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        text-align: center;
        width: 65%;
        padding: 20px;
    }

    .intro p {
        font-size: 1.5rem;
    }

    .intro hr {
        width: auto;
        margin-bottom: 0;
    }

    .intro small {
        font-size: 0.5rem;
    }
}
