* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

html {
    background: linear-gradient(to right, #ffffff, #EEFCCE); /* test */
}

.topnav {
    padding: 0.3em 1.5em 0.3em 1.5em;
    background-color: grey;
    justify-content: space-between;
    user-select: none;
}

.dropdown a {
    padding: 10px;
    color: black;
    user-select: none;
}

#dropdownMenuOffset {
    font-size: 24px;
    border: none;
    background-color: transparent;
    /* navagation burger */
}

.dropdown-menu a:active {
    background-color: #aaa;
    /* dropdown tile active color */
}

.navtitle, .navtitle:hover {
    font-size: 28px;
    font-family: 600;
    vertical-align: middle;
    /* hover */
    color: initial;
    text-decoration: none;
}

.topnav-right, .topnav-right:hover {
    float: right;
    font-size: 36px;
    line-height: 0px;
    /* hover */
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
