* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

html body {
    background: linear-gradient(to right, #ffffff, #f0f3bd);
    height: 100%;
}

.topnav {
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    user-select: none;
}

.topnav * {
    vertical-align: middle;
}

.dropdown a {
    padding: 10px;
    color: inherit;
    user-select: none;
}

#dropdownMenuOffset {
    font-size: 24px;
    border: none;
    background-color: transparent;
    /* navagation burger */
}

.dropdown-menu a:active {
    background-color: #aaa;
    /* dropdown tile active color */
}

.dropdown-menu a {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s ease all;
}

.dropdown-menu.show a {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: .5s ease all;
}

.dropdown .dropdown-menu {
    transition: all 0.3s;
    transform: translateY(-10px);
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu {
    max-height: 300px;
    transform: translateY(0px);
    opacity: 1;
}

.navtitle {
    font-size: 28px;
}

.navtitle:hover {
    color: initial;
    text-decoration: none;
}

.topnav-right {
    float: right;
    font-size: 36px;
    line-height: 0px;
}

.topnav-right:hover {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.topsocial {
    display: none;
}

.topsocial a {
    font-size: 48px;
    padding: 8px;
    border-radius: 50%;
    color: black;
}

.topsocial a~a {
    margin-top: 4px;
}

#github-circle {
    background-color: #f6f8fa;
}

#linkedin-circle {
    background-color: #0e76a8;
}

.main {
  min-height: 100%;
}

.bottom-footer {
    text-align: right;
    position: relative;
    margin: 2rem 3rem 2rem 3rem;
}

.bottom-footer hr {
    border-width: 2px;
    margin: 1rem 0rem 1rem 0rem;
    color: inherit;
}

.bottom-footer a {
    padding: 10px;
    color: inherit;
    font-size: 14px;
}

.bottom-footer a:active {
    text-decoration-line: none;
    color: grey;
}

.bottom-footer a:hover {
    color: inherit;
}

.bottom-footer a~a {
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    .topnav {
        padding: 0.3rem 0rem 0.3rem 0rem;
        background-color: transparent;
    }

    .topnav-right {
        display: none;
    }

    .topsocial {
        float: right;
        margin-right: 10px;
        bottom: 3rem;
        display: block;
        text-align: right;
        right: 0;
        position: absolute;
    }

    .topsocial a {
        display: block;
    }
}

/* https://animate.style/ */
